<app-navbar></app-navbar>
<section class="body">
    <div class="image" style="height:660px">
        
    </div>

    <div class="content">
        <h2>about us</h2>
        <span></span>
        <p>A legendary eatery in Mysore which is very familiar with anyone from Mysore. Situated in the heart of the city close to the palace it sits as humble as the town Mysore is. The menu is straight forward with nothing more than a handful of items. Dosa being the star. Cooking is done on firewood hence added taste. Interestingly masala dosa and plain dosa each cost 30 bucks. The masala in the dosa is not the regular potato bhaji it's almost like an onion saagu. Definitely worth every penny.</p>
    
        <ul class="vertical">
            <li>
                <a href="https://www.linkedin.com/in/mukund-n-acharya/"><i class="fa fa-linkedin">
                </i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/nagarjun_cs/"><i class="fa fa-instagram">
                </i></a>
            </li>
           
        </ul>
    
    </div>
</section>
