.head
{
    color: aliceblue;
}
.order
{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 5px;
    opacity: .9;
}

.quote
{
    margin-bottom: 40px;
    padding-top: 20px;
    font-family: 'Special Elite', cursive;
    text-align: center;
}
.id
{
    border: 1px solid #343a40;;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}
.order
{
    margin-bottom: 20px;
}
.back
{
    background-color: #e6e6ff;
}
