.heading
{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 5px;
    opacity: .9;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 6%;
}


.vertical li{
    display: block;
    font-size: 25px;
}
.icons
{
    margin-bottom: 30px;
}
.size
{
    
    margin-left: 140px;
    margin-bottom: 50px;
    font-size: 125px;
}

.text
{
    text-align: center;
}
.footer
{
    width: 100%; 
    height: 300px;
     background-color: gold;
}

.ficons
{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    
}
.zoom
{
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.1);
  }
.quote
{
    padding-top: 20px;
    font-family: 'Special Elite', cursive;
    text-align: center;
}

@media(max-width: 992px)
{
    .size
    {
        margin-left: 160px;
    }
    .footer
    {
        height: 420px;
    }
}
