<app-navbar></app-navbar>
<div class="heading">
    <h1>Contact us</h1>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 icons zoom">
        <div>
            <i class="fas fa-truck size"></i>
            <h5 class="text">We provide you the best food at your door step. It's delivery free !!!</h5>
        </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 icons zoom">
        <div>
            <i class="fas fa-utensils size"></i> 
            <h5 class="text">We take orders for the big events and and parties</h5>  
      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 icons zoom">
        <div>
            <i class="fas fa-birthday-cake size"></i>  
            <h5 class="text">We also provide party hall for the small ceremony and birthday </h5>     
         </div>

    </div>
</div>
</div>

<div  class="footer">
    <div class="quote">
    <h2>"People who love to eat are always the best people"</h2>
    <h3>"May the fork be with you"</h3>
</div>
<div class="container ficons">
    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 zoom">
        <i class="fas fa-phone-alt "></i>
        <h5>+91 8951213702</h5>
        <h5>+91 9887857553</h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 zoom">
        
        <a href="https://www.google.com/maps/dir/12.3012597,76.6297183/mylari+hotel+mysore/@12.3068074,76.629389,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3baf703ddfcf8745:0xc440e08af1deebca!2m2!1d76.665856!2d12.3085053"><i class="fas fa-map-marker-alt"></i></a>
        <h5>Mysore</h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 zoom">
        <i class="fas fa-envelope"></i>  
        <h5>nagarjuncs007@gmail.com</h5>
        <h5>mukundacharya1@gmail.com</h5>
    </div>
</div>
</div>

</div>

