<div class="back">
    <article>
        <article>
            <img src="assets/Vector.svg" alt="" class="logo"> 
             <h1 class="heading">Mylari</h1>
        </article>
        <img src="assets/pngwave.png" alt="" class="pic">
    </article>
    <main>
        <div>
            <img class="welcome gif-size" src="https://media.giphy.com/media/3o85g3loeiLcF26OZy/giphy.gif" alt="">
          </div>
        <article>
            <h1 class="welcome" >Welcome to hotel mylari</h1>
            <h3 class="quote">"You dont need a sliver fork to eat good food"</h3>
            <a routerLink="/login" href=""><button type="button" class="btn btn-danger btn-lg bt">Login</button></a>
            <a routerLink="/menu" href=""><button type="button" class="btn btn-warning btn-lg bt">View Menu</button></a>
        </article>
        
    </main>
    </div>